@{
    ViewBag.Title = "Home Page";
}
<!-- Here is the modal that contains the loading UI -->
<div id="loaderDiv" loader>
    <img alt="Loading contents..." src="@Url.Content("~/Content/images/spinner.gif")" class="ajax-loader"/>
</div>
<div class="mt20 well well-lg content-height" data-ng-view data-ng-cloak>
</div>